*{
    margin: 0;
    padding: 0;
}
.gi-size{
    height: 17.5%;
    width: 17.5%;
}
.img-pt{
    float: left;
    width: 70%;
}
.text_typed{
	font-size: 18px;
	margin: auto;
	width: 50%;
	text-align: center;
	color: orange;
	font-family: Lucida Sans Unicode;
}
